@model PersonalTrainer.Models.Slider
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="mt-5 text-center text-uppercase">Crear Slider</h1>
<form asp-action="Create" enctype="multipart/form-data">
    <div class="row px-2 p-5 mx-2 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-8 offset-2">
            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="Nombre" class="form-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="Estado" class="form-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Estado" class="form-check-input" />
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="ImagenUrl" class="form-label"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="archivos" id="subidaArchivo" class="form-control" />
                    <span asp-validation-for="ImagenUrl" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-3">
                <div class="col-8 offset-4">
                    <partial name="_VistaVolverCrear" />
                </div>
            </div>

        </div>
    </div>
</form>


